* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  user-select: none;
}

:root {
  font-family: $font-family-dm-sans;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  $vw: 100vw;
  font-size: calc($vw / $breakpoint-desktop * 10px);
  margin: auto;
  box-sizing: border-box;

  color: $black;
  background-color: $background;

  @include media('<tablet') {
    font-size: calc($vw / $breakpoint-tablet * 10px);
  }

  @include media('<phone') {
    font-size: calc($vw / $breakpoint-phone * 10px);
  }
}

body {
  //  @extend %text-preset-4;
}

a {
  color: $black;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

button {
  font-family: inherit;
  // all: unset !important;
}

svg {
  vertical-align: middle;
}
