$purple-100: #dbd1fc;
$purple-500: #7551dc;

$background: #f6f5f6;

$yellow-100: #fdf1e2;
$yellow-500: #ffc06a;

$white: #ffffff;
$black: #121212;

// Spacing Variables
$spacing-500: 4rem;
$spacing-400: 3.2rem;
$spacing-300: 2.4rem;
$spacing-200: 1.6rem;
$spacing-100: 0.8rem;

// Font Variables
$font-family-dm-sans: 'DM Sans';

$breakpoint-phone: 375px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;

$border: 1rem;
